* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive, sans-serif;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:focus-visible {
    outline: none;
  }
}

a {
  text-decoration: none;
}

input {
  border: none;

  &:focus-visible {
    outline: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

img {
  display: inline-block;
  vertical-align: middle;
  object-fit: cover;
}

.container {
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  background-color: #242c37;
}